html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  position:fixed !important;
  top:50vh !important;
  transform: translateY(-50%) !important;
  width:100vw;
  height:100vw;
}
.vanish {
	display:none;
}
main {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
li {
	text-align:center;
	margin:auto;
}
li:hover {
	background:#AAA;
}
rin{

}
